<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping Cart</title>
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingCartWeb.styles.css" asp-append-version="true" />
</head>
<body class="h-screen">
    <nav class="w-full bg-white dark:bg-neutral-800 h-16 shadow-sm dark:shadow-sm flex items-center border-b border-neutral-100 dark:border-neutral-700">
        <div class="flex gap-6 items-center w-full">
            <a class="ml-5" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="h-14" src="~/images/shopping-logo.webp" alt="Shopping Cart" />
            </a>
            <div>
                <ul class="flex gap-6">
                    <li>
                        <a class="hover:underline text-black dark:text-white" asp-area="" asp-controller="Home" asp-action="Index">Add Product</a>
                    </li>
                    <li>
                        <a class="hover:underline text-black dark:text-white" asp-area="" asp-controller="Home" asp-action="Index">Customers</a>
                    </li>
                    <li>
                        <a class="hover:underline text-black dark:text-white" asp-area="Products" asp-controller="Home" asp-action="Index">Users</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto mr-4  flex gap-2 items-center">
                <partial name="_LoginStatePartial" />
                 <partial name="_ColorModePartial" />
            </div>
        </div>
    </nav>

    <div class="bg-white dark:bg-neutral-800 h-screen">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <base href="~/" />
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
