<footer class="bg-white dark:bg-neutral-800 flex items-center justify-center">
    <div class="container mx-auto px-40">
        <div class="text-black dark:text-white text-xs">
            &copy; 2024 - Shopping Cart
        </div>
    </div>
</footer>