<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingCartWeb</title>
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingCartWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="w-full bg-white dark:bg-neutral-800 h-16 shadow-sm flex items-center border-b border-neutral-100 dark:border-neutral-700">
        <nav>
            <div class="flex gap-6 items-center">
                <a class="ml-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="h-14" src="images/shopping-logo.webp" alt="Shopping Cart" />
                </a>
                <div>
                    <ul class="flex gap-6">
                        <li>
                            <a class="hover:underline text-black dark:text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="hover:underline text-black dark:text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                @* <div class="mr-auto">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div> *@
            </div>
        </nav>
    </header>
    <div class="bg-white dark:bg-neutral-800 h-screen">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-white dark:bg-neutral-800 border-t border-neutral-100 dark:border-neutral-700">
        <div class="container text-black dark:text-white ">
            &copy; 2024 - ShoppingCartWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
