@inject SignInManager<AppUser> SignInManager

<div class="flex gap-1">
    @if(SignInManager.IsSignedIn(User))
    {
        <a class="text-gray-600 dark:text-gray-500 text-sm hover:underline" asp-area="Authentication" asp-controller="Auth" asp-action="Logout">Logout</a>
    }
</div>