@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col pt-4 space-y-20">
    <!--Top Section-->
    <div class="md:flex md:justify-center gap-4">
        <div class="relative">
            <img class="h-[35rem] hover:cursor-pointer rounded-lg" src="~/images/banner-1-opt_800x800.webp"  alt="banner_images" />
            <div class="absolute top-5 left-5 flex flex-col space-y-4">
                <p class="text-red-400 text-base font-semibold">MATTIS LAOREET SAPIEN</p>
                <p class=" text-neutral-500 font-medium text-4xl w-10">
                    Porta Consectetur Imperdiet Frigilla
                </p>
                <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 w-20 hover:cursor-pointer">
                    Read more
                </p>
            </div>
            
         </div>
        <div>
            <div class="flex flex-col space-y-4">
                <div class="relative">
                    <img class="h-[17.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                    <div class="absolute top-5 left-5 flex flex-col space-y-4">
                        <p class="text-red-400 text-base font-semibold">SEMPER</p>
                        <p class=" text-neutral-500 font-medium text-xl w-10">
                            Feugiat Scelerisque Imperdiet
                        </p>
                        <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                            Read more
                        </p>
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="relative">
                        <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-7-opt_422x361.webp" alt="banner_images" />
                        <div class="absolute top-5 left-5 flex flex-col space-y-4">
                            <p class="text-red-400 text-base font-semibold">SEMPER</p>
                            <p class=" text-neutral-500 font-medium text-xl w-10">
                                Adipiscing Sodales
                            </p>
                            <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                                Read more
                            </p>
                        </div>
                    </div>
                    <div><img class="h-[16.5rem] w-[16rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-8-opt_295x361.webp" alt="banner_images" /></div>
                </div>
            </div>
        </div>
    </div>

<!--Mid Section-->
<div class="flex flex-col space-y-2 items-center">
        <p class="text-sm font-medium text-red-400 capitalize">WOODEN ACCESSORIES</p>
        <p class="text-2xl font-medium capitalize text-black dark:text-white">FEATURED PRODUCTS</p>
        <p class="text-xs font-medium text-neutral-500">Visit our shop to see amazing creations from our designers.</p>
</div>

<!--Bottom Section-->
<div class="flex flex-col space-y-4 items-center">
      <div class="flex justify-center gap-4">
            <div class="relative">
                    <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                <div class="absolute top-5 left-5 flex flex-col space-y-4">
                    <p class="text-red-400 text-base font-semibold">SEMPER</p>
                    <p class=" text-neutral-500 font-medium text-xl w-10">
                        Adipiscing Sodales
                    </p>
                    <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                        Read more
                    </p>
                </div>
            </div>
            <div class="relative">
                    <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                <div class="absolute top-5 left-5 flex flex-col space-y-4">
                    <p class="text-red-400 text-base font-semibold">SEMPER</p>
                    <p class=" text-neutral-500 font-medium text-xl w-10">
                        Adipiscing Sodales
                    </p>
                    <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                        Read more
                    </p>
                </div>
            </div>
            <div class="relative">
                <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
            <div class="absolute top-5 left-5 flex flex-col space-y-4">
                <p class="text-red-400 text-base font-semibold">SEMPER</p>
                <p class=" text-neutral-500 font-medium text-xl w-10">
                    Adipiscing Sodales
                </p>
                <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                    Read more
                </p>
            </div>
        </div>
     </div>
     <div class="flex gap-4 justify-center">
          <div class="relative">
                <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                <div class="absolute top-5 left-5 flex flex-col space-y-4">
                    <p class="text-red-400 text-base font-semibold">SEMPER</p>
                    <p class=" text-neutral-500 font-medium text-xl w-10">
                        Adipiscing Sodales
                    </p>
                    <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                        Read more
                    </p>
                </div>
            </div>
          <div class="relative">
                <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                <div class="absolute top-5 left-5 flex flex-col space-y-4">
                    <p class="text-red-400 text-base font-semibold">SEMPER</p>
                    <p class=" text-neutral-500 font-medium text-xl w-10">
                        Adipiscing Sodales
                    </p>
                    <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                        Read more
                    </p>
                </div>
            </div>
          <div class="relative">
                <img class="h-[16.5rem] hover:cursor-pointer rounded-lg" src="~/images/finaly-banner-handmade-9-opt_738x354.webp" alt="banner_images" />
                <div class="absolute top-5 left-5 flex flex-col space-y-4">
                    <p class="text-red-400 text-base font-semibold">SEMPER</p>
                    <p class=" text-neutral-500 font-medium text-xl w-10">
                        Adipiscing Sodales
                    </p>
                    <p class=" text-neutral-500 font-medium text-sm border-b-2 border-red-400 hover:cursor-pointer">
                        Read more
                    </p>
                </div>
            </div>
     </div>
</div>
    
</div>
